	<div style="margin: 15px 0;"></div>
<h2>Tool di Migrazione sito</h2>

<div class="panel">

	<div class="panel">
		<h3>Duplica la definizione del sito su un altro server</h3>

		<label for="mig_server_id">Seleziona il server:</label>
		<select name="mig_server_id" id="mig_server_id" class="selectInput">
			{tmpl_var name='mig_server_id'}
		</select>
		<button class="button" type="button" onclick="alert('not yet implemented')">
			<span>Esegui</span>
		</button>

	</div>

	<hr style="margin: 15px 0;" />

	<div class="panel">
		<h3>Copia i file su un altro sito</h3>

		<label for="mig_domain_id">Seleziona il sito:</label>
		<select name="mig_domain_id" id="mig_domain_id" class="selectInput">
			{tmpl_var name='mig_domain_id'}
		</select>
		<button class="button" type="button" onclick="alert('not yet implemented');">
			<span>Esegui</span>
		</button>

	</div>

</div>